html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* navbar */

.navbar .container {
  width: 100%;
  height: 56px;
  background: #fff;
  box-shadow: #000;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}

.navbar .container .toggle {
  width: 48px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .toggle .grid-box {
  display: grid;
  height: 20px;
  width: 20px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 3px;
}

.navbar .toggle .grid-box .box {
  background: rgba(167,170,178);
}

.navbar .container a.logo {
  height: 100%;
  position: relative;
  left: -15px;
  display: block;
}

.navbar .container a.logo svg {
  height: 100%;
  width: 100%;
}

/* header */

.header .container {
  margin-top: 32px;
  height: 88px;
  width: 100%;
}

.main-logo {
  width: 183px;
  height: 44px;
  margin: 0 auto;
}

.main-logo svg > * {
  transform: scale(1.1);
  fill: #000;
}

.header .container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header .container .tagline {
  color: rgba(80,86,102,1);
  font-family: sans-serif; 
  font-size: 18px;
  letter-spacing: -0.025em;
}

.gallery {
  padding: 30px 8px;
}

.gallery .container .articles {
  display: flex;
  height: 85.97vw;
  width: 100%;
  margin-bottom: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory; 
}

.gallery .box {
  background-color: #333;
  background:  center;
  background-image: linear-gradient(to top, #000 10%, rgba(255, 255, 255, 0)), url(img/gallery-item.webp);
  margin: 0 4px;
  flex: 0 0 85.97vw;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.gallery .box .text {
  bottom: 0;
}

.gallery .box .subtitle {
  margin-bottom: .25rem;
  font-size: .75rem; 
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: .08em;
  line-height: 1;
  text-transform: uppercase;
}

.gallery .box .title {
  margin-bottom: .25rem;
  font-size: 1.25em;
  letter-spacing: -.2px;
}

.gallery .box:first-child {
  margin-left: 0;
}

.gallery .box:last-child {
  margin-right: 0;
}

/* to square flex items */

.gallery .box:before {
    content:'';
    float:left;
    padding-top:100%;
}

.gallery .banner {
  max-width: 748px;
  height: 196px;
  background: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(img/banner-bg.webp);
  background-size: 150%;
  background-position: top;
  color: #fff;
}

.gallery .banner .title {
  font-weight: bold;
  text-align: center;
  margin-bottom: .25rem;
  font-size: 1.20em;
  letter-spacing: -.2px;
}

.gallery .banner .btn {
  font-size: 13px;
  background-color: transparent;
  border-radius: 1.5rem;
  cursor: pointer;
  position: relative;
  height: 3rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin-top: 1em;
  box-shadow: inset 0 0 0 1px #fff;
  padding: 1em 1.5rem;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-style: none;
}

/* popular articles */

.articles {
  width: 100%;
  padding: 3em 8px;
  background: #f7f8f8;
  margin: 40px 0;
}

.articles .title{
  color: #a7aab2;
  text-align: center;
  letter-spacing: -0.1em;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.articles .container {
  display: flex;
  padding: 24px;
  flex-direction: column;
}

.articles .container .article {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.articles .container .article .number {
  font-size: 2em;
  color:  rgba(204,0,153,0.9);
}

.articles .container .article .title {
  font-size: 1em;
  text-align: left;
  padding: 0 16px;
  flex: 1;
}


.articles .container .article .title a {
  color: #000;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 500;
}

/* latest-articles */

.latest {
  width: 100%;
  padding: 64px 0;
}

.latest .container {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.latest .header {
  margin-bottom: 2rem;
  font-size: 1.75rem;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.latest .box {
  display: flex;
  margin: 1rem 0;
  flex: 1;
}

.latest .text {
  flex: 1 1 0%;
}

.latest .title {
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
}

.latest .uploaded {
  color: rgb(167,170,178);
  padding-top: 0.25rem;
  font-size: 0.75rem;
}

.latest .box .thumbnail {
  flex-basis: 25%;
  border-radius: 50%;
  background: #bada55;
  margin-right: 1.5rem;
}

.latest .box .thumbnail:before {
  content: '';
  float:left;
  padding-top:100%;
}

.latest .more-link a {
  display: block;
  color: #000;
  text-decoration: none;
  border: 1px solid #000;
  text-align: center;
  margin-top: 1rem;
  padding: 1em 0;
  border-radius: 50px;
}

/* explore section */

.explore {
  background: #eee;
  padding: 2rem 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.explore h1 {
  color: #000;
}

.explore .container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  margin: 2rem 0.5em;
}

.explore .box {
  background: #4d28a1;
  margin-right: 0.5em;
}

.explore .box a {
  width: 216px;
  height: 256px;
  display: block;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.explore .box a .desc {
  font-weight: normal;
  padding: 0 1rem;
  font-size: .7em;
  margin-bottom: 1.5em;
}

.explore a > * {
  padding: 1em 0;
}

/* news letter section */

.newsletter {
  background: rgb(112, 14, 223);
  padding: 64px;
}

.newsletter .container {
  height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.newsletter h1 {
  font-size: 1.1em;
  font-weight: bold;
}

.newsletter .form form{
  display: flex;
  height: 2.5rem;
}

.newsletter .form input{
  flex: 1;
  border: none;
  border-radius: 10px 0 0 10px;
  border-left: none;
  padding: 1em;
}

.newsletter .form button {
  flex-basis: 20%; 
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: #888;
  font-weight: bold;
  text-transform: uppercase;
  background: #fff;
  border-radius: 0 10px 10px 0;
}

.newsletter ul {
  display: flex;
  height: 32px;
  justify-content: center;
}

.newsletter li {
  padding: .35em; 
}

.newsletter li i{
  font-size: 2em;
  color: rgba(226, 226, 226, 0.8);
}

/* videos */

.videos {
  padding: 2rem 0;
  background: rgb(247,248,248);
  padding-bottom: 64px;
}

.videos h1 {
  color: #000;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding: 1em 0;
}

.videos .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.videos .featured-video {
  background: #000;
  display: flex;
  flex-direction: column;
}

.videos .featured-video .video {
  background: #193;
  padding-top: 56.25%;
  position: relative;
}

.videos .youtube-player {
  position: absolute;
  background-size: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  background-position: 50% 50%;
  object-position: 50% 50%;
}

.featured-video .text {
  padding: 1em;
}

.featured-video .text .title {
  font-weight: bold;
}

.featured-video .text .date {
  font-weight: lighter;
  font-size: 0.8em;
  margin-top: .8em;
}

.videos .scroll-container {
  padding: .5rem 1rem;
  margin-top: 10px;
  display: flex;
  flex-flow: row;
  overflow-x: auto;
}


.videos .scroller {
  display: flex;
}

.videos .scroll-container .box{
  margin-left: 1em;
  height: 221px;
  width: 208px;
}


.videos .scroller .box .thumbnail {
  background: #aaa;
  height: 52.951%;
  position: relative;
}

.videos .scroller .box .thumbnail img{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  object-fit: cover;
}


.videos .scroll-container .box .title {
  margin-top: 1em;  
  color: #000;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: bold;
}

/* career section */

.career {
  padding: 6em 0 2em;
}

.career .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.career .box-right >* {
  color: #000;
}

.career .box-right {
  text-align: center;
  margin-bottom: 2rem;
} 

.career .box-right .subtitle {
  font-family: Shentox,sans-serif;
  color: rgb(80,86,102);
  margin-bottom: .8em; 
}

.career .box-right .title {
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  letter-spacing: -.025em;
}

.career .box-right .desc {
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  font-size: 1.125rem;
  color: rgb(80,86,102);
  line-height: 1.5rem;
}


.career .box-right .btn {
  display: inline-block;
  background: rgb(0,221,222);
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  border-style: none;
  border-radius: .25rem;
  font-size: 13px;
  letter-spacing: .025em;
  line-height: 48px;
}

.career .box-left {
  height: 336px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.career .box-left .role {
  margin: 0 auto;
  text-align: center;
}

.career .box-left .role >* {
  color: #000;
}

.career .box-left .icon {
  width: 96px; 
  height: 96px;
}

.career .box-left .role .title {
  margin-top: 1rem;
  font-weight: bold;
}

.career .companies {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.career .companies .company {
  flex-basis: 50%;
  max-width: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}